.header{
    display: flex;
    justify-content: space-between;
    padding: 1%;;
    align-items: center;
    background-color: blanchedalmond;
}
nav.header h1{
    color: black;
    font-size: 2rem;
}

nav.header img{
    width: 3rem;
    border-radius: 50%;
}
